# Dependency directories
node_modules/
.pnpm-store/

# dotenv environment variable files
.env
.env.*
!.env.example

# VSCode
.vscode/

# Astro
dist/
.astro/

# Cursor
.cursor/

# Wrangler
.wrangler/
worker-configuration.d.ts
