{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "svelteSortOrder": "options-styles-scripts-markup",
  "svelteStrictMode": false,
  "svelteBracketNewLine": true,
  "svelteIndentScriptAndStyle": true,
  "proseWrap": "always"
}
