---
import { Email } from '@/components/email';
import MainLayout from '@/layouts/main-layout.astro';
---

<MainLayout pageTitle="Privacy Policy" variant="legal">
  <h1 class="text-center">Privacy Policy</h1>
  <p>Last updated: Jul 1, 2024</p>

  <p>
    This Privacy Policy describes Our policies and procedures on the collection,
    use and disclosure of Your information when You use the Service and tells
    You about Your privacy rights and how the law protects You.
  </p>

  <p>
    We use Your Personal data to provide and improve the Service. By using the
    Service, You agree to the collection and use of information in accordance
    with this Privacy Policy.
  </p>

  <h2>Information We Collect</h2>
  <h3>Personal Data</h3>
  <p>
    While using Our Service, We may ask You to provide Us with certain
    personally identifiable information that can be used to contact or identify
    You. This may include:
  </p>
  <ul>
    <li>Email address</li>
    <li>First name and last name</li>
    <li>Phone number</li>
    <li>Usage Data</li>
  </ul>

  <h3>Usage Data</h3>
  <p>
    Usage Data is collected automatically when using the Service. This may
    include information such as Your IP address, browser type, browser version,
    the pages of our Service that You visit, the time and date of Your visit,
    and other diagnostic data.
  </p>

  <h2>Cookies and Tracking</h2>
  <p>
    We use Cookies and similar tracking technologies to track activity on Our
    Service and store certain information. You can instruct Your browser to
    refuse all Cookies or to indicate when a Cookie is being sent.
  </p>

  <h2>Data Usage</h2>
  <p>We use the collected data for various purposes:</p>
  <ul>
    <li>To provide and maintain our Service</li>
    <li>To notify you about changes to our Service</li>
    <li>To allow you to participate in interactive features</li>
    <li>To provide customer support</li>
    <li>To gather analysis or valuable information to improve our Service</li>
    <li>To monitor the usage of our Service</li>
  </ul>

  <h2>Data Retention</h2>
  <p>
    We will retain Your Personal Data only for as long as is necessary for the
    purposes set out in this Privacy Policy. We will retain and use Your
    Personal Data to the extent necessary to comply with our legal obligations.
  </p>

  <h2>Data Security</h2>
  <p>
    The security of Your Personal Data is important to Us, but remember that no
    method of transmission over the Internet, or method of electronic storage is
    100% secure. While We strive to use commercially acceptable means to protect
    Your Personal Data, We cannot guarantee its absolute security.
  </p>

  <h2>Contact Information</h2>
  <p>
    If you have any questions about this Privacy Policy, You can contact us at <Email
    />.
  </p>
</MainLayout>
