---
import { Email } from '@/components/email';
import MainLayout from '@/layouts/main-layout.astro';
---

<MainLayout pageTitle="Terms of Service" variant="legal">
  <h1 class="text-center">Terms of Service</h1>
  <p>Last updated: Jul 1, 2024</p>

  <p>
    These Terms of Service ("Terms", "Terms of Service") govern your use of our
    website located at https://mrugesh.dev (the "Service") operated by Mrugesh
    Mohapatra Co. ("us", "we", or "our").
  </p>

  <p>
    Your access to and use of the Service is conditioned on your acceptance of
    and compliance with these Terms. These Terms apply to all visitors, users
    and others who access or use the Service.
  </p>

  <h2>Acceptance of Terms</h2>
  <p>
    By accessing and using this website, you accept and agree to be bound by the
    terms and provision of this agreement. If you do not agree to abide by the
    above, please do not use this service.
  </p>

  <h2>Use License</h2>
  <p>
    Permission is granted to temporarily download one copy of the materials on
    this website for personal, non-commercial transitory viewing only. This is
    the grant of a license, not a transfer of title, and under this license you
    may not:
  </p>
  <ul>
    <li>modify or copy the materials;</li>
    <li>
      use the materials for any commercial purpose or for any public display
      (commercial or non-commercial);
    </li>
    <li>
      attempt to decompile or reverse engineer any software contained on the
      website;
    </li>
    <li>
      remove any copyright or other proprietary notations from the materials.
    </li>
  </ul>

  <h2>Content</h2>
  <p>
    The information on this website is provided on an 'as is' basis. To the
    fullest extent permitted by law, this Company excludes all representations,
    warranties, conditions and terms relating to our website and the use of this
    website.
  </p>

  <h2>Privacy Policy</h2>
  <p>
    Your privacy is important to us. Please review our Privacy Policy, which
    also governs your use of the Service, to understand our practices.
  </p>

  <h2>Prohibited Uses</h2>
  <p>You may not use our Service:</p>
  <ul>
    <li>
      For any unlawful purpose or to solicit others to perform unlawful acts
    </li>
    <li>
      To violate any international, federal, provincial or state regulations,
      rules, laws, or local ordinances
    </li>
    <li>
      To infringe upon or violate our intellectual property rights or the
      intellectual property rights of others
    </li>
    <li>
      To harass, abuse, insult, harm, defame, slander, disparage, intimidate, or
      discriminate
    </li>
    <li>To submit false or misleading information</li>
  </ul>

  <h2>Disclaimer</h2>
  <p>
    The information on this website is provided on an 'as is' basis. To the
    fullest extent permitted by law, this Company excludes all representations,
    warranties, conditions and terms relating to our website and the use of this
    website.
  </p>

  <h2>Limitations</h2>
  <p>
    In no event shall Mrugesh Mohapatra Co. or its suppliers be liable for any
    damages (including, without limitation, damages for loss of data or profit,
    or due to business interruption) arising out of the use or inability to use
    the materials on this website.
  </p>

  <h2>Changes to Terms</h2>
  <p>
    We reserve the right, at our sole discretion, to modify or replace these
    Terms at any time. If a revision is material we will try to provide at least
    30 days notice prior to any new terms taking effect.
  </p>

  <h2>Contact Information</h2>
  <p>
    If you have any questions about these Terms of Service, please contact us at <Email
    />.
  </p>
</MainLayout>
