---
import WaveBackground from '@/components/background.astro';
import Footer from '@/components/footer.astro';
import Nav from '@/components/nav.astro';
import ScrollButton from '@/components/scroll-button.astro';
import { cn } from '@/lib/utils';
import BaseLayout from './BaseLayout.astro';

export interface Props {
  title?: string;
  pageTitle?: string;
  pageDescription?: string;
  pageUrl?: string;
  pageImage?: string;
  setCanonicalBlogBaseURL?: boolean;
  blogSlug?: string;
  showHomeButton?: boolean;
  variant?: 'main' | 'prose' | 'legal';
}

const { showHomeButton = true, variant = 'main', ...baseProps } = Astro.props;
---

<BaseLayout {...baseProps} showHomeButton={showHomeButton}>
  <div class="min-h-screen">
    <div class="fixed inset-0 -z-10">
      <WaveBackground />
    </div>
    <main class="mx-auto my-2 w-[90%] py-8 lg:w-[75%] xl:w-[80%]">
      <Nav className="z-20 m-2 max-h-none pt-2" showHomeButton={showHomeButton} />
      <div class="p-5">
        {
          variant === 'legal' ? (
            <div
              class={cn(
                'prose prose-sm max-w-none p-8',
                'bg-white',

                'prose-p:text-gray-700',
                'prose-p:my-2 prose-p:leading-relaxed',
                'prose-strong:text-gray-900',

                'prose-headings:font-semibold',
                'prose-headings:text-gray-900',

                'prose-ul:list-none',
                'prose-li:text-gray-800',

                'prose-a:text-blue-600',
                'prose-a:no-underline prose-a:hover:underline'
              )}
            >
              <slot />
            </div>
          ) : variant === 'main' ? (
            <div class="mx-auto">
              <slot />
            </div>
          ) : (
            <slot />
          )
        }
      </div>
      <Footer isDefault={true} className="p-2" />
      <ScrollButton className="fixed right-4 bottom-4 z-20" />
    </main>
  </div>
</BaseLayout>
