---
import AdminLayout from '@/layouts/admin-layout.astro';
import { PostList } from '@/components/admin/post-list';

export const prerender = false;
---

<AdminLayout pageTitle='Posts'>
  <header class='mb-6 flex items-center'>
    <h1 class='text-display-md'>Posts</h1>
    <a href='/admin/new' class='brutalist-button-primary ml-auto px-4 py-2'>New post</a>
  </header>
  <PostList client:only='react' />
</AdminLayout>
